<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Monster</title>
</head>
<body>
    <div class="container">
        <h1>Explore Your Favorite Songs</h1>

        <form id="search" method="post" action="/">
            <input type="text" id="artistInput" name="artist" placeholder="Artist" required>
            <input type="text" id="titleInput" name="title" placeholder="Title" required>

            <button type="submit">GO!</button>
        </form>

        <div class="response-area">
            <% if(lyrics !== "Don't wanna sober up~🎇" && lyrics !== "error") {%>
                <h2>
                    <%= title %> - <%= artist %>
                </h2>
                <% lyrics.forEach(function(line) { %>
                    <% const lines = line.split("\n"); %>
                    <% if(lines.length === 1) { %>
                        <p><%= line %></p>
                    <% } else if(lines.length > 1) { %>
                        <% lines.forEach(function(one) { %>
                            <p><%= one %></p>
                        <% }) %>
                        <br>
                    <% } %>
                <% }) %>
            <% } else if(lyrics === "error") { %>
                <h4>Check the artist and the title again!</h4>
            <% } %>
        </div>
    </div>
</body>
</html>